@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
/* @FONTWARNING[{"type": "restricted", "family": "Inter-Bold", "weight": "700", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-Bold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Inter-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular");
}
/* @FONTWARNING[{"type": "restricted", "family": "Itim-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Itim-Regular";
  src: local("Itim-Regular");
}
/* @FONTWARNING[{"type": "restricted", "family": "Instrument Sans-Medium", "weight": "500", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Instrument Sans-Medium";
  src: local("Instrument Sans-Medium");
}
/* @FONTWARNING[{"type": "restricted", "family": "Inria Sans-Bold", "weight": "700", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Inria Sans-Bold";
  src: local("Inria Sans-Bold");
}
.ai-content {
    padding: 20px;
    background-color: #f5f5f5; /* Adjust as needed */
    border-radius: 8px;
    margin: 20px;
}

.ai-content h2 {
    font-size: 24px;
    font-weight: bold;
}

.ai-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}